main{
    width: 100%;
    margin-bottom: 50px;
}

  /* bouton resesosyo isi*/
  .middle{
    width: max-content;
    text-align: center;
    display: flex;
    margin: auto;
  }
  .middle .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: max-content;
    height: max-content;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }
  .middle .btn i{
    line-height: 1px;
    font-size: 20px;
    transition: 0.2s linear;
  }
  .middle .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .middle .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .middle .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }

  .middle .pinterest-img{
    width: 30px;
    height: 30px;
    display: none;
}
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }



@media (max-width: 800px){
    .middle{
        width: 100%;
        position: fixed;
        bottom: 0;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middle .btn{
        width: 100%;
    }
    .middle .pinterest-img{
        width: 30px;
    }
    .middle .fa-facebook-f{
        color: rgb(0, 38, 255);
    }
    .middle .whatsapp-btn{
        color: green;
    }

    .middle .fa-youtube{
        color: red;
    }
}